@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

*,*::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
}

body {
    background-image: radial-gradient(circle at top,hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.container  {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.score-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 150px;
    margin-top: 3.5rem;
    border-radius: 15px;
    border: 3px solid hsl(217, 16%, 45%);
    padding: 20px;
}

.score {
    display: flex;
    padding: 10px;
    font-weight: 700;
    flex-direction: column;
    align-items: center;
    width: 9rem;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    
}

.score-heading {
    color: hsl(229, 64%, 46%);
    letter-spacing: 1.5px;
}

.score-number {
    color: hsl(229, 25%, 31%);
    font-size: 3.5rem;
    font-weight: 700;
}

.game-container-step-1 {
    margin-top: 8rem;
    height: 400px;
    width: 100%;
    background: url(./images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-position: center;
    /* display: none; */
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: center;
    justify-items: center;
    
}

.game-container-step-2 {
    margin-top: 8rem;
    height: 400px;
    width: 100%;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    gap: 100px;

}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.blank-turn {
    background-color: black;
    height: 175px;
    width: 175px;
    border-radius: 50%;
    opacity: 0.15;
}



.rock{
    grid-column: span 2;
}


.turn-border {
    height: 175px;
    width: 175px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-bottom: solid 5px #737070;
    
}


.turn-border:active {
    border-bottom: none;
}


.paper-border {
    background: linear-gradient(to top, hsl(230, 89%, 62%),hsl(230, 89%, 65%));
    border-bottom: solid 7px #3145A7;
}

.scissor-border {
    background: linear-gradient(to top, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    border-bottom: solid 7px #9F6A09 ;
}

.rock-border {
    background: linear-gradient(to top, hsl(349, 71%, 52%),hsl(349, 70%, 56%));
    border-bottom: solid 7px #8F1E33 ;
    
}

.turn {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65% auto;
    
}

.p {
    background-image: url(./images/icon-paper.svg);
    
}

.s {
    background-image: url(./images/icon-scissors.svg);
}

.r {
    background-image: url(./images/icon-rock.svg);
    
}

.result {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-size: 2.5rem;
    gap: 20px;
}



.play-again {
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    color: black;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    cursor: pointer;
    
}